*.exe
data-science-0/.ipynb_checkpoints
data-science-0/.pytest_cache
data-science-0/venv
coestatistica-1/.ipynb_checkpoints
coestatistica-1/.pytest_cache
coestatistica-1/venv
data-science-1/.ipynb_checkpoints
data-science-1/.pytest_cache
data-science-1/venv
data-science-2/.ipynb_checkpoints
data-science-2/.pytest_cache
data-science-3/.ipynb_checkpoints
data-science-3/.pytest_cache